# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# autotools stuff
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/depcomp
include/config.h
include/config.h.in~
include/stamp-h1
/install-sh
/missing
.deps/

#binaries
/barrier/barrier
/coordinator/coordinator
